PORT=5001
MONGO_URI=mongodb+srv://healthease-admin:<password>@cluster0.xxxxx.mongodb.net/healthease?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
PYTHON_SERVICE_URL=http://localhost:8000
GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
CLIENT_URL=http://localhost:3000
